################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ex05 Shay 318605342 Eilon 209396837.sln
